<div id="register">
	<div>
		<label>Email:</label>
		<input type="text" name="email" />
	</div>
	<div>
		<label>First name:</label>
		<input type="text" name="firstName" />
	</div>
	<div>
		<label>Last name:</label>
		<input type="text" name="lastName" />
	</div>
	<div>
		<label>Password:</label>
		<input type="password" name="password" />
	</div>
	<div>
		<button onclick="register()">Register In</button>
	</div>
	<script>
		async function register() { const inputs = [...document.getElementById("register").getElementsByTagName("input")]; const body = {}; for(let i=0;i<inputs.length; i++) {
		body[inputs[i].name]=inputs[i].value; } const res = await fetch('/api/users/', { method: "POST", headers: { Accept: "application/json", "Content-Type": "application/json",
		}, body: JSON.stringify(body) }).then((res)=> res.json()); console.log(res) }
	</script>
</div>